h1 {
  border: 10px solid blue;
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 25px;

  padding-right: 10px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
h2 {
  border: 12px solid green;
  display: inline-block;
  margin: 80px 40px 60px 20px;
  padding: 25px 50px 35px 5px;
}
